* {
	margin: 0px;
	padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}
.btn {
    width: 100px;
    height: 50px;
    margin: auto;
    border: none;
    background-color: white;
    opacity: 100%;
    border-radius: 2px;
}

.main {
 width:100%;
    height:50px;
    background:#000;
    margin:0px auto;
    position: absolute;
}

.btn-container {
    background-color: mediumseagreen;
    display: flex;
    height: 300px;
}
  

.sent {
    transition: 1s;
}

#send {
    position: relative;
    transform: translate(50%,-120px);
    left: -30px;
    color: mediumseagreen;
    font-size: 20px;
}
